<html xmlns:th="http://www.thymeleaf.org">

<!--
This template differs from the others in this program. Here we use javascript to render an arena where the user eliminates candidates from their dilemma until we eventually display a winner.
-->

<head>
  <title>Dilemma Decide</title>
</head>

<script th:inline="javascript">const candidates = /*[[${candidates}]]*/</script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

<body onload="renderArena()">

<h1>Dilemma Decide</h1>

<h3 th:text="${question}"></h3>

<div id="arena">
  <!--If zero candidates exist
    Error: no candidates found
  -->


  <!--Else If only one competitor remains
    Winner! Veterinarian
  -->


  <!--Else If there are >1 competitors, display choose buttons
    <button onclick="eliminate(candidates, 1)">Physician Assistant</button>
    <button onclick="eliminate(candidates, 0)">Software Developer</button>
  -->
</div>

</body>
</html>