<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Dilemma Detail</title>
</head>

<body>

<h1>Dilemma Detail</h1>

<form action="#" th:action="@{/dilemma/save}" th:object="${form}"
      method="post">
  <fieldset>
    <input type="submit" id="submitButton" th:value="Save">
    <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
    <input type="text" id="id" th:field="*{id}" hidden>
    <input type="text" id="question" th:field="*{question}">
    <table>
      <thead>
      <tr>
        <th>Candidate</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="candidate, itemStat : *{candidates}">
        <td><input th:field="*{candidates[__${itemStat.index}__].value}"></td>
      </tr>
      </tbody>
    </table>
  </fieldset>
</form>

</body>
</html>
