<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/general.html :: head"></head>
<body>
<header>
  <nav th:insert="fragments/general.html :: navbar"></nav>
  <h1>Dilemma List</h1>
  <p>A paginated list of all dilemmas in our database</p>
</header>

<table class="table">
  <thead>
  <tr>
    <th>Question</th>
    <th> </th>
    <th> </th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${dilemmas.empty}">
    <td colspan="2">No dilemmas found <span th:text="${page}"></span></td>
  </tr>
  <tr th:each="dilemma : ${dilemmas}">
    <td><span th:text="${dilemma.question}"></span></td>
    <td><a th:href="@{/dilemma/decide(id=${dilemma.id})}">Decide</a></td>
    <td><a th:href="@{/dilemma/detail(id=${dilemma.id})}">Edit</a></td>
    <!--todo add "date added" and sort by it-->
  </tr>
  </tbody>
</table>

<p>Page <span th:text="${currentPage}"></span> of <span th:text="${ofPages}"></span></p>
<span th:if="${currentPage} > 0">
  <a th:href="@{/dilemma/list(page=${currentPage} - 1,size=${size})}">Back</a>
</span>
<span th:if="${currentPage} < ${ofPages}">
  <a th:href="@{/dilemma/list(page=${currentPage} + 1,size=${size})}">Next</a>
</span>

</body>
</html>