<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>This Or That</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link th:href="@{/styles/main.css}" rel="stylesheet"/>
</head>

<!--Set JS variable from Java DTO with Thymeleaf-->
<script th:inline="javascript">const optionsDtoJs = /*[[${optionsDto}]]*/</script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>

<body onload="bodyOnLoad(optionsDtoJs)">

<p>Hello! Your question is <b><span id="questionSpan"></span></b></p>

<div id="arena" onload="createArenaHtml(competitors)">
  <!--If only one competitor remains, display the winner-->
  <!--Else if there are >1 competitors, display choose buttons-->
</div>

</body>
</html>